<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792864134410-upmugnla4cqm18dk2mge2kdb3fv9jkvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792864134410-upmugnla4cqm18dk2mge2kdb3fv9jkvs</string>
	<key>API_KEY</key>
	<string>AIzaSyCpi-H3zrlAhF_2PLWM2_PNNWyxI6X-Jl0</string>
	<key>GCM_SENDER_ID</key>
	<string>792864134410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tr.ege.SmartHome</string>
	<key>PROJECT_ID</key>
	<string>smarthome-7b6d3</string>
	<key>STORAGE_BUCKET</key>
	<string>smarthome-7b6d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792864134410:ios:75bcd4cbc72b80b0da96f3</string>
</dict>
</plist>